fastapi==0.89.1
SQLAlchemy==1.4.46
uvicorn==0.20.0
SQLAlchemy-JSONField==1.0.1.post0
httpx==0.23.0
databases[postgresql]==0.6.0
psycopg2==2.9.3
pytest==7.1.2
alembic==1.8.0
tenacity==8.0.1
flake8==4.0.1
black==22.6.0
ujson==5.7.0
arsenic==21.8
fastapi-pagination==0.11.2
aiohttp==3.8.3
beautifulsoup4==4.11.1
pytest==7.1.2
pytest-asyncio==0.20.3
httpx==0.23.0